.calendaritems_container{
    display: grid;
    width: 300px;
    grid-template-columns: repeat(7, 1fr);
}

.calendar_option{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 20px;
}

.calendar{
    width: 300px;
    border: 1px solid red;
}