.calendaritems_container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    /* grid-template-columns: repeat(7, 1fr); */
    gap: 1px;
}

.calendar_option{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 20px;
}

/* .calendar_item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border: 3px solid transparent;
    margin: 1px;
}

.calendar_item_selected{
    border: 3px solid #0078D7;
}

.calendar_item_hover{
    border: 3px solid #f2f2f2;
}

.calendar_item_hover_selected{
    border: 3px solid #59a1da;
}

.calendar_item_tody{
    background: #0078D7;
} */

label {
    padding: 0;
    /* margin: 1px; */
}
input[type=radio] {
    display: none;
}
input[type=radio]+span {
    display: inline-block;
    /* padding: 3px 6px; */
    border: 3px solid transparent;
    user-select: none;
}

input[type=radio]:hover+span {
    border: 3px solid #f2f2f2;
}

input[type=radio]:checked+span {
    border: 3px solid #0078D7;
}

input[type=radio]:hover:checked+span {
    border: 3px solid #59a1da;
}



.time_today{
    color:#004275;
    cursor: pointer;
}

.time_today:hover{
    color: #8f8f8f;
}

.calendar{
    width: 364px;
    height: 300px;
    border: 1px solid red;
    background: #D2D2D2;
}