:root {
    --device_pixelratio :1;
    }
.statusbar{
    border-top: 1px solid rgb(215,215,215);
    background-color: rgb(240,240,240);
    display: flex;
}

.statusbaritem{
    display: flex;
}

.statusbaritemsplit{
    width: 1px;
    height: calc(100% - 1px);
    background-color: rgb(215,215,215);
    align-self: center;
}
